/* @import 'toggleSidebarButton.css';
 @import '404.css';
 @import '@vuepress/plugin-palette/style'; */
 
 
 @font-face {
   font-family: 'topWebfont';
   src: url('/font/FZSSJW.TTF');
 }
 
 html,body,#app{
 	width:100%;
 	height:100%;
 	overflow-y: auto;
 }
 
 
 /*滚动条优化*/
 ::-webkit-scrollbar {
   width: 6px;
   height: 8px
 }
 ::-webkit-scrollbar-thumb {
   background: #899;
   opacity: 0.3;
   width: 8px;
   border-radius: 4px
 }
 
 
 a{
 	position:relative;
 	z-index:10;
 }
 
 p,li,a{
 	color:#333;
 	font-size:16px;
 	font-weight: 600 !important;
 	font-family:"topWebfont" ,"方正新书宋简体",'方正书宋_GBK' !important
 	
 }
 
 img{
 	display:block;
 	margin-bottom:10px;
 }
 
 .logo{
 	display:inline-block
 }
 
 h2{
 	border-bottom:none;
 	color:var(--c-brand)
 }
 
 pre span,pre code{
 	font-size:15px !important
 }
 pre .comment{
 	font-size:15px !important
 }
 body,code,pre,h1,h2,h3,h4,h5,h6{
 	font-family:"Consolas","topWebfont" ,"方正新书宋简体",'方正书宋_GBK' !important;
 }
 
 body{
 	word-break: break-word;
 		line-height: 1.75;
 		font-weight: 400;
 		font-size: 15px;
 		overflow-x: hidden;
 		color: #2b2b2b;
 		background-image: linear-gradient(
 	90deg,rgba(159,219,252,.3) 3%,transparent 0),linear-gradient(
 	1turn,rgba(159,219,252,.3) 3%,transparent 0);
 		background-size: 20px 20px;
 		background-position: 50%;
 }
 
 html.dark body{
 	word-break: break-word;
 		line-height: 1.75;
 		font-weight: 400;
 		font-size: 15px;
 		overflow-x: hidden;
 		color: #2b2b2b;
 		background-image: linear-gradient(
 	90deg,rgba(159,219,252,.03) 3%,transparent 0),linear-gradient(
 	1turn,rgba(159,219,252,.03) 3%,transparent 0);
 		background-size: 20px 20px;
 		background-position: 50%;
 }
 
 .dark {
 	p,h1,h2,h3,h4,h5,h6,a,li,td,em strong{
 	color:#adbac7 !important
 	}
 }
 

 strong{
 	color:#646cFF !important;
	color:#F26D6D !important;
 	font-size:17px
 }
 
 em strong{
 	font-style :normal;
 	color:black !important;
 	border-bottom: 2px dashed red !important;
 	border-radius: 0 !important;
 	padding:4px;
 }
	
 blockquote{
 	border-left:0.25rem solid #dc3264 !important;
 }
  

 .extra-class{
 	overflow:hidden !important;
 	margin:20px 0;				
 	
 }

 table,tr,td,th{
 	border-color:#646cFF !important;
 }
 thead{
 	color:#646cFF;
 }

.dark .line-numbers{
	background-color: (32,23,31,.6) !important
}
 
 

 
 html.dark div[class*="language-"]{
 	background:rgba(32,23,31,.6) !important
 }
 
 div[class*="language-"]::after{
	 background: red;
     box-shadow: 22px 0 0 0 orange, 44px 0 0 0 green;
 }
 
 .page-catalog-container a{
	 font-size:14px
 }
 .page-catalog-container a:hover{
	 color:#646cFF 
 }
 
div[class*="language-"].line-numbers-mode .line-numbers{
	width:3rem
}

.dark div[class*="language-"].line-numbers-mode .line-numbers{
	background:rgba(32,23,31,0.6) !important
}

.imp{
	border:1px mediumvioletred dashed;
	padding:10px 12px;
	margin:10px 0;
	border-radius:6px;
}

p{
	text-indent: 2em;
}
h3{
	text-shadow:5px 5px 5px blueviolet
}

p, ol, ul, table{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	line-height: 2rem;
}

.custom-container.tip .custom-container-title, .custom-container.tip svg, .custom-container.info .custom-container-title, .custom-container.info svg{
	color:lightseagreen
}
.custom-container.tip, .custom-container.info{
	border-color:lightseagreen;
	background-color: #20b2aa32;
}